body {
	background: url("../imgs/colorado.jpg") center;*/
	/*background: url("../imgs/chicago.jpg") center center;*/
	font-family: sans-serif;
}

.top {
}

header {
	border: solid #20273F 1px;
	padding: 1em;
	background-color: #e2e1ea;
	/*text-transform: uppercase;*/
}

header nav {
	float: right;
}

header nav a {
	padding: 1em;
	color: #20273F;
	text-decoration: none;
	}

header nav a:hover {
	background-color: #B3C5E3;
}

.email {
	padding: 1em;
	color: #20273F;
	text-decoration: none;
}

.name {
	color: black;
	font-family: serif;
}

.name h1 {
	font-size: 4em;
	text-shadow: 1px 1px 1px white;
	color: black;
}


.social-media {
	/*background-color: #e2e1ea;*/
	/*opacity: .8;*/
	color: black;
	position: relative;
	top: 5em;
}

.projects {
	background-color: white;
    opacity: 0.90;
    margin-top: 5em;
    color: black;
    height: 20em;
}

.projects article {
	display: inline-block;

}

